* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D3CEDF ;
}

header {
    background-color: #F2D7D9;
    height: 80px;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    line-height: 80px;
    text-align: center;
    width: 100%;
    transition: .5s;
}

li:hover {
    background-color: #D3CEDF;
}

a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bolder;
    color: #748DA6;
}

.return-home {
    display: flex;
    justify-content: center;
}